.publicLayoutWrap {
    margin: 0;
    padding: 4rem 6rem;
    display: flex;
    gap: 2rem;

    .sideBarWrap {
        border: 1px solid red;
        border-radius: 1.5rem;
        width: 20%;
        max-height: 50rem;

        .userIconWrap {
            border: 1px solid red;
            border-radius: 1.5rem;
            height: 10rem;
            margin: 3rem 3rem 1rem 3rem;
        }

        .nameWrap {
            font-weight: 800;
            font-size: 1.2rem;

        }

        .jobTitleWrap {
            border: 1px solid red;
            width: 50%;
            margin: 1rem auto;
            border-radius: 0.3rem;
            padding: 0.2rem
        }

        .personDetailsWrap {
            text-align: left;
            display: flex;
            align-items: center;
            gap: 0.7rem;
            margin: 0 1rem 1.2rem 1rem;

            .iconWrap {
                border: 1px solid red;
                display: flex;
                align-items: center;
                border-radius: 0.3rem;
                padding: 0.2rem;
            }

            .titleGroupWrap {
                .titlewrap {
                    font-size: 0.5rem;
                    font-weight: 600;
                }

                .titleDetailWrap {
                    font-size: 0.6rem;
                    font-weight: 700;
                }
            }
        }
    }

    .frontPageWrap {
        width: 80%;
        min-height: 12rem;
        border-radius: 1.5rem;
        border: 1px solid red;
        position: relative;
        .fontPageNavBarWrap {
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
            padding: 1rem 2rem;
            border-radius: 0 1rem 0 1rem;
            border: 1px solid red;
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .itemWrap{
            }
        }
    }
}